<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="dao.AddressMapper">
 	<insert id="write" parameterType="com.java.address.dto.AddressDto">
 		insert into addr values(addr_num_seq.nextval, #{name}, #{phone}, #{email})
 	</insert>
 	
 	<select id="select" parameterType="String" resultType="com.java.address.dto.AddressDto">
 		select * from addr where name=#{name}
 	</select>
 	
 	<update id="update" parameterType="com.java.address.dto.AddressDto">
 		update addr set phone=#{phone}, email=#{email} where num=#{num}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		delete from addr where name=#{name}
 	</delete>
 </mapper>